body {
    margin: 0;
    background-color: #DDD;
    font-family: Verdana;
    font-size: 120%;
}

.loginarea {
    width: 370px;
    height: 270px;
    background-color: #FFF;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-top: -150px;
    margin-left: -200px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;
    border: 1px solid #CCC;
    padding: 15px;
  
}

.loginarea input[type=email],
.loginarea input[type=password] {
    width: 100%;
    height: 40px;
    outline: 0;   
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #CCC;
    font-size: 100%;
    margin-top: 5px;
}

.loginarea input[type=submit] {
    width: 100px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    background-color: #DDD;
    font-size: 100%;
}

.warning {
    border: 2px solid #F00;
    padding: 10px;
    border-radius: 5px;
    background-color: #F99;
    color: #000;
    margin-top: 20px;   
}
/*
@media only screen and (max-width: 1080px) {
    body {
        font-size: 200%;
    }
    .loginarea {
    width: 510px;
    height: 320px;
    background-color: #FFF;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-top: -175px;
    margin-left: -270px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;
    border: 1px solid #CCC;
    padding: 15px;
  
}*/
