body {    
    margin: 0;
    padding: 0;   
    font-family: Verdana;
}
.site {
    background-color: #fffff6;
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: auto;
}
.leftmenu {
    width: 150px;
    background-color: #1f232a;
    float: left;
    height: 100%;
    position: fixed; 
   
}
.company_name {
    height: 100px;
    line-height: 100px;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}
.container {    
    padding-left: 150px;
   
}
.top {
   /* position: fixed; */
    width: 100%;
    float: right;
    height: 40px;
    line-height: 40px;
    background-color: #232830;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   /* right: 0;
    z-index: 0;*/
}
.top-right {    
    float: right;
    padding-left: 10px;
    padding-right: 10px;    
    color: #fff;

}
.top-right a {
    color: #fff;
    text-decoration: none;
}
.menuarea {
    color: #FFF;
}
.menuarea ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menuarea li {
    height: 40px;
    line-height: 40px;    
    padding-left: 30px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: 10px 13px;
}
.menuarea li:hover {
    background-color: #062e84;
}
.menuarea li a {
    color: #FFF;
    text-decoration: none;
    display: block;
}
.menuarea li:nth-child(1) {
    background-image: url('../imgs/home.png');
}
.menuarea li:nth-child(2) {
    background-image: url('../imgs/key.png');
}
.menuarea li:nth-child(3) {
    background-image: url('../imgs/users.png');
}
.area {
    background-color: #fffff6;
    padding: 15px;
    padding-top: 60px;
}
.tabarea {   
    padding-left: 10px;
    z-index: 1;   
}
.tabitem {
    float: left;
    width: 20%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #F5F5F5; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;   
}
.tabitem a {
    color: #000000;
    text-decoration: none;
    display: block;
}
.activetab {
    margin-top: -1px;
    border-bottom: 3px solid #FFF;
    background: #FFF;
    cursor: default;    
}
.tabcontent {
    background-color: #fffff6;
    padding-top: 41px;    
    z-index: 0;     
}
.tabbody {
    background-color: #ffffff;
    padding: 20px;
    display: none;
    border: 1px solid #000;    
}
input[type=text] {
    height: 30px;   
    outline: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}
input[type=submit],
button,
.button {
    border: 0;
    background-color: #224074;
    color: #fff;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;   
    display: inline-block;
}
.button_small {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    
}
.button a {
    color: #fff;
    text-decoration: none;    
}
table {
    margin-top: 10px;
    border-collapse: collapse;
}
table th {
    height: 40px;
    line-height: 40px;
    background-color: #C0C0C0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-bottom: 1px solid #000;
    border-left: 0px;
}

table td {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    border-bottom: 1px solid #000;
}
/*
@media only screen and (max-width: 768px) {    
    body {
        font-size: 100%;
    }
    .tabitem {
        width: 30%;
    }
    .leftmenu {
        width: 200px;
    }
    .container {   
        padding-left: 200px;
    }
    .top {
        height: 60px;
        line-height: 60px;
    }
}*/
