body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Verdana;
}
.leftmenu {
    width: 150px;
    background-color: #1f232a;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.company_name {
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
}
.container {
    padding-left: 150px;
}
.top {
    height: 40px;
    line-height: 40px;
    background-color: #232830;
}
.top-right {
    height: 40px;
    line-height: 40px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: #fff;
}
.top-right a {
    color: #fff;
    text-decoration: none;
}
.menuarea {
    color: #FFF;
}
.menuarea ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menuarea li {
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    padding-left: 30px;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: 10px 14px;
}
.menuarea li:hover {
    background-color: #062e84;
}
.menuarea li a {
    color: #FFF;
    text-decoration: none;
    display: block;
}
.menuarea li:nth-child(1) {
    background-image: url('../imgs/home.png');
}
.menuarea li:nth-child(2) {
    background-image: url('../imgs/key.png');
}

.area {
    padding: 15px;
}
.tabarea {
    padding-left: 10px;
    z-index: 99;
}
.tabitem {
    float: left;
    width: 20%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #F5F5F5; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    cursor: pointer;
    
}
.activetab {
    border-bottom: 2px solid #FFF;
    background: #FFF;
    cursor: default;
    z-index: 101;
}
.tabcontent {
    margin-top: 58px;
    border: 1px solid #000;
    z-index: 100;
}
.tabbody {
    padding: 10px;
    display: none;    
}